[Unit]
Description=Embassy Api
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/nick/hackerembassy-tg-bot/
ExecStart=/usr/bin/npm run embassy-api-service
Restart=always
RuntimeMaxSec=1000
RestartSec=10

[Install]
WantedBy=multi-user.target
