name: Deploy containers via docker-compose
inputs:
  ssh_identity:
    description: string for known_hosts file
    required: true
  ssh_key:
    description: string for id_ed25519 file
    required: true
  ssh_host:
    description: deploy target host
    required: true
  ssh_port:
    description: deploy target port
    required: true

runs:
  using: composite
  steps:
    -
      name: Put server's SSH key
      uses: ./.github/actions/ssh-keys
      with:
        action: put
        identity: ${{ inputs.ssh_identity }}
        key: ${{ inputs.ssh_key }}
    -
      name: Deploy
      shell: bash
      run: |
        ssh -T ansible@${{ inputs.ssh_host }} -p ${{ inputs.ssh_port }} '
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v /home/ansible/.docker/config.json:/config.json \
            containrrr/watchtower \
            --run-once \
            hackem-bot
        '
    -
      name: Destroy server's SSH key
      uses: ./.github/actions/ssh-keys
      with:
        action: destroy
