{
  "openapi": "3.0.0",
  "info": {
    "title": "Hacker Embassy API",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gateway.hackerembassy.site:9000/",
      "description": "Gateway"
    },
    {
      "url": "http://localhost:3000/",
      "description": "Local server"
    }
  ],
  "paths": {
    "/text/commands": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/text/status": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/inside": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/insidecount": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/setgoing": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/going"
              }
            }
          }
        }
      }
    },
    "/api/open": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/withHassToken"
              }
            }
          }
        }
      }
    },
    "/api/close": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/withHassToken"
              }
            }
          }
        }
      }
    },
    "/text/join": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/text/events": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/text/funds": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/text/donate": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "withHassToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "hass_token"
          }
        }
      },
      "going": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "rfoxed"
          },
          "isgoing": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Приблизительно к 21:00"
          },
          "token": {
            "type": "string",
            "example": "guest_token"
          }
        },
        "required": [
          "username",
          "isgoing",
          "token"
        ]
      }
    }
  }
}